.ArticleCard {
    width: 80%;
    margin-top: 20px;
    
}

.ArticleCard img {
    max-height: 350px;
    
}

.ArticleCard-imgBody {
    padding-top: 5px;
}

.ArticleCard-card {
    border:none;
    border-bottom: 2px solid rgba(152, 206, 253, 0.151);
}